.container {
  height: 100%;

  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
  position: relative;
}

.chatWindow {
  margin-top: 60px !important;
  margin: auto;
  width: 50%;
  border: solid 2px#BCE6FA;
  background-color: #bce6fa;
  border-radius: 20px;
  padding: 10px;
}

.formUser {
  width: 50%;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
}
